html,
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 1s;
  background-color: #0b1215;
}

body {
  background-color: #0b1215;
  padding: 0;
  margin: 0px;
  scroll-behavior: smooth;
  height: fit-content;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .cursor {
    display: none;
  }

  .cursor--active .cursor__trace__inner {
    display: none;
  }

  .cursor_default_inner {
    display: none;
  }

  .cursor_Trace_Inner {
    display: none;
  }
  .h1Typoghrapy {
    display: none;
    opacity: 0;
  }

  .mobileTyphoGraphy {
    display: block;
    z-index: 10;
    width: 420px;
    height: fit-content;
    position: absolute;
    bottom: 55px;
    left: 25px;
  }

  .mobileTyphoGraphy img {
    width: 350px;
    height: 350px;
  }

  .section01 {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .section01 div {
    position: absolute;
  }

  .Galaxy {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/SVG/대지\ 2.png);
    background-size: contain;
    background-repeat: repeat;
    background-color: #14173f;
  }

  .Earth {
    position: absolute;
    width: 550px;
    height: 550px;
    background-size: cover;
    left: -5%;
    transform: translateX(-5%);
    top: -150px;
  }

  .starDust {
    display: none;
  }

  .lightYear {
    width: 400px;
    height: 400px;
    left: 80px;
  }

  .lightYear img {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: -115px;
  }

  .section01 {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
  }

  .sec01GlassMophism {
    display: none;
  }
  .section01 div {
    position: absolute;
  }
  .section01 div img {
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
  }
  /*dimd*/

  /*dimd*/
  #dimd {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    background-color: transparent;
    position: absolute;
  }

  /*section02*/
  .section02 {
    width: 100vw;
    height: 200px;
    background-color: #0b1215;
    position: relative;
  }

  .section02Contents {
    width: 100vw;
    height: 200px;
    margin: 0 auto;
    position: relative;
    background-color: #0b1215;
  }

  .portfolio {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    top: 75px;
    padding-left: 28%;
    width: 100vw;
  }
  /*section03*/
  .section03 {
    width: 100vw;
    height: 1600px;
    position: relative;
    background-color: #0b1215;
  }

  .bodyBackground {
    background-image: url(./img/SVG/bodyBackground.svg);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    position: absolute;
    width: 100vw;
    height: fit-content;
  }

  .bodyBackgroundII {
    background-size: cover;
    background-position: center;
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 1600px;
    left: 50%;
    transform: translateX(-50%);
  }

  .section03Contents {
    width: 85vw;
    height: 1600px;
    margin: 0 auto;
    position: relative;
    background-color: #0b1215;
  }

  .deCoration {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: fit-content;
  }

  .sec03Earth {
    display: none;
  }

  .sec03GlassMophism {
    display: none;
  }

  .introH2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
  }

  #introMain {
    width: 120px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%) translateY(-16%);
    font-size: 70px;
    font-weight: 400;
    display: none;
  }

  .R2D2 img {
    width: 220px;
    height: 290px;
    position: absolute;
    left: 45%;
    margin-top: 0px;
    transform: translateX(-45%);
    z-index: 15;
  }

  .sec03GlassMophismWrapper {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 1100px;

    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  #list-item-wrapper {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-20%);
    width: 90vw;
    padding: 20px;
  }

  .list-item {
    display: inline;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  }

  .list-item::before {
    display: inline-block;
    background-image: url(./img/dark_house.png);
    background-size: 53px 53px;
    content: "";
    width: 50px;
    height: 50px;
  }

  #sec03IntroMain {
    width: 120px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
    font-size: 70px;
    font-weight: 400;
    display: none;
  }
  #sec3Scroll-Down-text {
    color: #ffffff;
    opacity: 0.6;
    font-size: 1rem;
    margin-top: 40px;
    display: none;
  }

  .list-item#on {
    color: #ffffff;
  }

  .list-item#on::before {
    content: "";
    background-image: url(./img/light_house.png);
  }

  .list-item#on {
    color: #ffffff;
  }

  .list-item#on::before {
    content: "";
    background-image: url(./img/light_house.png);
  }
  #panel1Img {
    display: none;
  }

  #miniCarImg {
    display: none;
  }

  #proJects {
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 80px;
    display: none;
  }

  #panel1Img {
    height: 420px;
    position: relative;
    background-color: #0b1215;
    display: none;
  }

  #miniCarImg {
    width: 220px;
    height: 220px;
    position: absolute;
    right: 0px;
    bottom: 150px;
    display: none;
  }

  #proJects {
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80px;
    font-weight: 600;
    display: none;
  }

  .skillBtn {
    width: 1200px;
    height: 100px;
    position: absolute;
    margin-top: 230px;
    right: 50px;
  }

  .usedSkill {
    color: grey;
  }

  .skillBtn .skillList {
    width: fit-content;
    padding-top: 20px;
    padding: 15px;
    height: 50px;
    background-color: #e7e7e7;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    float: right;
    margin: 10px;
  }

  .skillList:nth-child(3) {
    background-color: #ff8500;
    display: none;
  }

  /*section04*/
  .section04 {
    width: 100vw;
    height: 3100px;
    background-color: #0b1215;
    border: 1px solid transparent;
  }
  .section04Contents {
    margin: 0 auto;
    display: none;
  }

  .mobileSection {
    width: 100vw;
    height: 1800px;
    position: relative;
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    perspective: 700px;
    perspective-origin: bottom;
    color: white;
  }

  .mobileSection li:hover {
    position: relative;
    transform: rotateX(-10deg) translateZ(-10px) translateY(-160px);
    transition: all 0.8s;
  }

  .mobileSection li {
    width: 90vw;
    height: 700px;
    perspective: 700px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) translateZ(-15px);
    transition: color 0.6s, background 0.6s, transform 0.6s ease;
    border-radius: 25px;
    box-shadow: 0 -15px 32px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-top: 10px solid #000;
  }

  .mobileSection h2 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 30px;
    padding-bottom: 0px;
  }

  .mobileSection p {
    padding: 30px;
    line-height: 25px;
  }

  .airBnbMobile {
    background-color: #ff5a5f;
    border-radius: 25px;
  }
  .retroBoyMobile {
    background-color: #308ac5;
    border-radius: 25px;
  }
  .snuMobile {
    background-color: #1c2f57;
    border-radius: 25px;
  }
  .imagiNationMobile {
    background-image: url(./img/bg_75.webp);
    background-size: cover;
    border-radius: 25px;
  }
  .rebeHayanMobile {
    background-color: #a37dec;
    border-radius: 25px;
    padding: 70px;
  }

  /*section05*/
  .section05 {
    width: 100vw;
    height: 2650px;
    background-color: #0b1215;
  }

  .section05Contents {
    width: 100vw;
    height: 1000px;
    position: relative;
    text-align: center;
  }

  #bodyBackground {
    display: block;
    height: 1200px;
  }

  #saZabi {
    width: 90vw;
    height: 490px;
  }

  #fixedDescription {
    width: 90vw;
    height: fit-content;
    color: white;
    font-size: 40px;
    text-align: center;
    left: 8%;
    transform: translateX(-8%);
    line-height: 70px;
    position: absolute;
    bottom: 50px;
    opacity: 0;
  }

  /*section06*/
  .section06 {
    width: 100vw;
    height: 200px;
    background-color: #0b1215;
    position: relative;
    margin-top: 300px;
  }

  .section06Contents {
    width: 100vw;
    height: 600px;
    position: absolute;
    top: 0px;
  }

  #nitingGail {
    display: none;
  }

  #curioSity {
    display: block;
  }

  .section06Contents img {
    display: block;
    width: 65vw;
    height: 600px;
  }

  /*section07*/
  .section07 {
    width: 100vw;
    height: 100vh;
    background-color: #0b1215;
    position: relative;
  }

  .section07Contents {
    width: 100vw;
    height: 1000px;
    position: absolute;
    color: white;
    top: 0px;
    padding-bottom: 500px;
  }

  .section07Contents h2 {
    font-size: 2.2rem;
    font-weight: 500;
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    top: 50px;
  }

  .section07Contents p {
    font-size: 1rem;
    font-weight: 100;
    color: white;
    line-height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
    text-align: left;
  }

  /*whitewrapper*/
  #white-wrapper {
    position: relative;
    background-color: #14173f;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: 9000;
  }

  .white-wrapperContents {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .white-wrapperContents img {
    position: absolute;
    left: 23px;
    top: 320px;
    width: 90vw;
    height: 200px;
  }

  .white-wrapperContents img ~ img {
    position: absolute;
    right: 65px;
    bottom: 0px;
    width: 70%;
    height: 600px;
    display: none;
  }

  .footerCard1 {
    width: 300px;
    height: 200px;
    background-color: #373c68;
    border-radius: 25px;
    position: absolute;
    top: 400px;
    left: 100px;
    color: white;
    padding: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    display: none;
  }
  .footerCard2 {
    position: absolute;
    top: 400px;
    left: 425px;
    width: 620px;
    height: 200px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: none;
  }

  .footerCard3 {
    position: absolute;
    top: 620px;
    left: 100px;
    width: 950px;
    height: 340px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: none;
  }

  .copy {
    position: absolute;
    bottom: -70px;
    left: 0px;
    font-size: 1.9rem;
    display: none;
  }
}
