* {
  font-family: pretendard, sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p,
h4,
h3,
h2,
h1,
span {
  transform: rotate(0.03deg);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0b1215;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
}
img {
  width: 80vw;
  height: 80vh;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: difference;
  transition: all 0.1s;
  z-index: 9999;
  pointer-events: none;
}

.cursor--active .cursor__trace__inner {
  transform: scale(20.5);
  transition: all 0.1s;
  animation-duration: 0.1s;
}

.cursor_default_inner {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(10, 27, 16, 2.5);
  border: 2px solid #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: all 0.1s;
}

.cursor_Trace_Inner {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f3f3f3;
  transform: translate(-50%, -50%);
  transition: all 0.1s;
  opacity: 0.5;
}

/*section*/

.h1Typoghrapy {
  width: 3840px;
  height: 2160px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: rotate(0.03deg);
  z-index: 5;
}

.section01 {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  background-color: transparent;
}

.Galaxy {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/SVG/GalaxybackGround.png);
  background-size: cover;
}

.Earth {
  position: absolute;
  left: 600px;
  width: 3000px;
  height: 3000px;
}

.lightYear {
  width: 65vw;
  height: 65vh;
  position: absolute;
  left: 500px;
  top: 200px;
}

.lightYear img {
  object-fit: contain;
  height: 85%;
}

.sec01GlassMophism {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 120px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.section01 {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

.section01 div {
  position: absolute;
}
.section01 div img {
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}
/*dimd*/
#dimd {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  min-width: 3840px;
  max-width: 100vw;
  min-height: 2160px;
  max-height: 100vw;
  background-color: transparent;
  z-index: 6;
}
/*section02*/
.section02 {
  width: 100vw;
  height: 400px;
  position: relative;
  background-color: #0b1215;
}

.section02Contents {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background-color: #0b1215;
}

.portfolio {
  color: #ffffff;
  font-size: 100px;
  font-weight: 600;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
/*section03*/
.section03 {
  width: 100vw;
  height: 2600px;
  position: relative;
  background-color: #0b1215;
}

.bodyBackground {
  background-image: url(./img/SVG/bodyBackground.svg);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  position: absolute;
}

.bodyBackgroundII {
  background-size: cover;
  background-position: center;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  width: 1000px;
  height: 1600px;
  left: 50%;
  transform: translateX(-50%);
}

.section03Contents {
  width: 70vw;
  height: 2600px;
  margin: 0 auto;
  position: relative;
  background-color: #0b1215;
}

.deCoration {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
}

.sec03Earth {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}

.sec03GlassMophism {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 400px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.introH2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}

#introMain {
  width: 120px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%) translateY(-16%);
  font-size: 70px;
  font-weight: 400;
}

#scroll-Down-text {
  color: #ffffff;
  opacity: 0.6;
  font-size: 1rem;
  margin-top: 40px;
}

@keyframes UpandDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
#downArrowIcon {
  position: absolute;
  left: 40%;
  transform: translateX(-40%), rotate(30px);
  top: 70px;
  width: 33px;
  height: 33px;
  animation: UpandDown 1s infinite;
}

.R2D2 img {
  width: 280px;
  height: 390px;
  position: absolute;
  left: 50%;
  margin-top: 650px;
  transform: translateX(-50%);
}

.sec03GlassMophismWrapper {
  position: absolute;
  top: 1200px;
  left: 50%;
  transform: translateX(-50%);
  width: 650px;
  height: 1300px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#list-item-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 450px;
}

.list-item {
  display: inline;
  font-size: 47px;
  font-weight: 600;
  text-align: center;
}

.list-item::before {
  display: inline-block;
  background-image: url(./img/dark_house.png);
  background-size: 51px 53px;
  content: "";
  width: 51px;
  height: 53px;
}

#sec03IntroMain {
  width: 120px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
  font-size: 70px;
  font-weight: 400;
}
#sec3Scroll-Down-text {
  color: #ffffff;
  opacity: 0.6;
  font-size: 1rem;
  margin-top: 40px;
}

.list-item#on {
  color: #ffffff;
}

.list-item#on::before {
  content: "";
  background-image: url(./img/light_house.png);
}

#panel1Img {
  height: 420px;
  position: relative;
  background-color: #0b1215;
}

#miniCarImg {
  width: 220px;
  height: 220px;
  position: absolute;
  right: -150px;
  bottom: 150px;
}

#proJects {
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  font-weight: 600;
}

.skillBtn {
  width: 1200px;
  height: 100px;
  position: absolute;
  margin-top: 230px;
  right: 50px;
}

.usedSkill {
  color: grey;
}

.skillBtn .skillList {
  width: fit-content;
  padding-top: 20px;
  padding: 15px;
  height: 50px;
  background-color: #e7e7e7;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  float: right;
  margin: 10px;
}

.skillList:nth-child(3) {
  background-color: #ff8500;
}

/*section04*/
.section04 {
  width: 100vw;
  height: 3100px;
  background-color: #0b1215;
}
.section04Contents {
  width: 1200px;
  height: 3100px;
  margin: 0 auto;
  position: relative;
}

.section04Contents h2 {
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  font-style: normal;
  transform-origin: bottom;
  transform: translate3d(-20px, 0px, 2px);
}

.airBnbh3 {
  color: #ffffff;
  position: absolute;
  left: 0%;
  font-size: 3rem;
  font-weight: 700;
  top: 300px;
}

.airBnbGlassMophism {
  position: absolute;
  top: 305px;
  left: 50px;
  padding: 40px;
  width: 400px;
  height: 170px;
  color: #ffffff;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-weight: 100;
}

.airBnbGlassMophism a {
  width: 30px;
  height: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #ff8500;
  font-weight: 100;
}

.airBnbGlassMophism a:hover {
  background-color: ghostwhite;
  color: black;
}

.airBnbGlassMophismII {
  position: absolute;
  top: 485px;
  left: 50px;
  width: 400px;
  height: 200px;
  padding: 50px;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-weight: 100;
  line-height: 20px;
}

.airBnbGlassMophism h3 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.airBnb {
  width: 680px;
  height: 590px;
  position: absolute;
  left: 460px;
  top: 200px;
}

.retroBoy {
  width: 680px;
  height: fit-content;
  position: absolute;
  left: 50px;
  top: 625px;
}

.retroBoyGlassMopism {
  position: absolute;
  top: 700px;
  right: 60px;
  padding: 20px;
  width: 400px;
  height: 400px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white;
  font-weight: 100;
  line-height: 20px;
}

.retroBoyGlassMopism p {
  margin-bottom: 40px;
}

.retroBoyGlassMopism a {
  width: 30px;
  height: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #ff8500;
  font-weight: 100;
}

.retroBoyGlassMopism a:hover {
  background-color: ghostwhite;
  color: black;
}

.retroBoyGlassMopism h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.snuGlassMophism {
  position: absolute;
  top: 1115px;
  left: 50px;
  padding: 40px;
  width: 400px;
  height: 180px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.snuGlassMophismII {
  color: white;
  position: absolute;
  top: 1300px;
  left: 50px;
  width: 400px;
  height: 200px;
  padding: 50px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-weight: 100;
  line-height: 20px;
}

.snuGlassMophism a {
  width: 50px;
  height: 35px;
  padding: 15px;
  border-radius: 4px;
  background-color: #ff8500;
  font-weight: 100;
}

.snuGlassMophism a:hover {
  background-color: ghostwhite;
  color: black;
}

.snuGlassMophism h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.snuGlassMophism p {
  color: grey;
  margin-bottom: 20px;
}

.SNU {
  width: 680px;
  height: 500px;
  position: absolute;
  top: 1055px;
  right: 58px;
}

.imagiNationIMG {
  width: 600px;
  height: 500px;
  background-image: url(./img/bg_75.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  position: absolute;
  top: 1515px;
  left: 50px;
}

.imagiNationIMGGlassMophism {
  position: absolute;
  top: 1515px;
  right: 50px;
  width: 485px;
  height: 500px;
  padding: 50px;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-weight: 100;
  line-height: 20px;
}

.imagiNationIMGGlassMophism h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.imagiNationIMGGlassMophism a {
  width: 30px;
  height: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #ff8500;
  font-weight: 100;
}

.imagiNationIMGGlassMophism a:hover {
  background-color: ghostwhite;
  color: black;
}

.imagiNationIMGGlassMophism p {
  margin-bottom: 40px;
}

.rebeHayan {
  width: 1100px;
  height: 480px;
  position: absolute;
  left: 50px;
  top: 2030px;
  background-color: #a37dec;
  border-radius: 25px;
}

.rebeHayan img {
  width: 1100px;
  height: 580px;
  bottom: 0px;
  position: absolute;
}

.rebeHayanGlassMophism {
  position: absolute;
  top: 2525px;
  left: 50px;
  width: 1100px;
  height: 240px;
  padding: 50px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white;
  font-weight: 100;
  line-height: 20px;
}

.rebeHayanGlassMophism a {
  width: 30px;
  height: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #ff8500;
}

.rebeHayanGlassMophism p {
  margin-top: 30px;
}

.rebeHayanGlassMophism a:hover {
  background-color: ghostwhite;
  color: black;
}

.rebeHayanGlassMophism h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

/*section05*/
.section05 {
  width: 100vw;
  height: 2650px;
  background-color: #0b1215;
}

.section05Contents {
  width: 100vw;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#bodyBackground {
  position: absolute;
  bottom: 300px;
  width: 800px;
  height: 900px;
  left: 40%;
  transform: translateX(-40%);
}

#saZabi {
  width: 500px;
  height: 650px;
  position: absolute;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  bottom: 300px;
}

#fixedDescription {
  width: 23vw;
  height: fit-content;
  color: white;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 70px;
  position: absolute;
  left: 40%;
  transform: translateX(-30%);
  bottom: 100px;
  opacity: 0;
}

/*section06*/
.section06 {
  width: 100vw;
  height: 900px;
  background-color: #0b1215;
  position: relative;
}

.section06Contents {
  width: 100vw;
  height: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section06Contents img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1100px;
  width: 1500px;
  bottom: 0px;
}

/*section07*/
.section07 {
  width: 100vw;
  height: 1000px;
  background-color: #0b1215;
  position: relative;
}

.section07Contents {
  width: 100vw;
  height: 1000px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.section07Contents h2 {
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}

.section07Contents p {
  font-size: 1rem;
  font-weight: 100;
  color: white;
  line-height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 300px;
  text-align: center;
}

/*whitewrapper*/
#white-wrapper {
  position: relative;
  background-color: #14173f;
  background-image: url(./img/SVG/footerBacgroundimg.svg);
  background-size: contain;
  width: 100vw;
  height: 100vh;
  z-index: 9000;
}

.white-wrapperContents {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.white-wrapperContents img {
  position: absolute;
  left: 75px;
  top: 30px;
  width: 650px;
  height: 400px;
}

.white-wrapperContents img ~ img {
  position: absolute;
  right: 65px;
  bottom: 0px;
  width: 600px;
  height: 600px;
}

.footerEarth {
  width: 400px;
  height: 200px;
  position: absolute;
  margin-left: 350px;
  margin-bottom: 1000px;
}

.footerCard1 {
  width: 300px;
  height: 200px;
  background-color: #373c68;
  border-radius: 25px;
  position: absolute;
  top: 400px;
  left: 100px;
  color: white;
  padding: 40px;
  line-height: 40px;
  font-size: 1.5rem;
}
.footerCard2 {
  position: absolute;
  top: 400px;
  left: 425px;
  width: 620px;
  height: 200px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #ffffff;
}

.footerCard2 h2 {
  color: white;
}

.footerCard3 {
  position: absolute;
  top: 620px;
  left: 100px;
  width: 950px;
  height: 340px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white;
}

.footerSpanBox {
  width: 1000px;
  height: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
  align-items: center;
}

.footerCard3 h2 {
  font-size: 3rem;
  font-weight: 800;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
